{% extends "base.html" %}
{% block content %}
    <h1>Vodka martini</h1>

    <p>
        <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
    </p>

    <ul>
        <li><strong>Arvosana:</strong> 4/5</li>
        <li><strong>Tyyppi:</strong> Cocktail</li>
    </ul>
    
    <h2>Ohjeet</h2>

    <h3>Ainesosat</h3>

    <ul>
        <li>6 osaa <a href="#">vodkaa</a></li>
        <li>1 osa kuivaa <a href="#">vermuttia</a></li>
    </ul>

    <h3>Lasi</h3>

    <p>
        <a href="#">Cocktail lasi</a>
    </p>

    <h3>Garnish</h3>
    
    <p>
        Oliivi tai sitruunakierre.
    </p>

    <h3>Valmistus</h3>

    <p>
        Straight: Pour all ingredients into mixing glass with ice cubes. Shake well. Strain in chilled martini cocktail glass. Squeeze oil from lemon peel onto the drink, or garnish with olive.
    </p>

    <p>
        Vodka martini on klassinen drinkki, joka maistuu myös James Bondille.
    <p>
{% endblock %}
